<!-- submitting a recipe -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- CSS -->
        <link rel="stylesheet" href="/styles/submit.css">
        <title>ForkThisRecipe</title>
    </head>

    <body>
        <div id="main-container">
            <div id="header">
                <h1>ForkThisRecipe</h1>
                <h2>Hello, Guest</h2>
                <div id="menu-bar">
                    <form style="margin-left: 15px; width: 20%;" action="/" method="POST">
                        <button>Recipes</button>
                    </form>
                    <form style="margin-left: 15px; width: 30%;" action="/submit" method="POST">
                        <!-- color indicating which page the user is on -->
                        <button style="color: rgb(19, 157, 255);">Submit a Recipe</button>
                    </form>
                    <form style="margin-left: 40px; width: 20%;" action="/login" method="POST">
                        <button>Log In</button>
                    </form>
                    <form style="margin-left: 0px; width: 20%" action="/about" method="POST">
                        <button>About</button>
                    </form>
                    <div id="blank"></div>
                    <form action="/search" method="POST">
                        <!-- bootstrap search icon -->
                        <input type="text" id="search" name="search" placeholder=" Find a recipe...">
                        <button type="submit" id="search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg></button>
                    </form>
                </div>
            </div>

            <!-- form section -->
            <div id="content">
                <h2>Submit a Recipe</h2>
                <form id="recipe-form" action="/recipes" method="post">
                    <!-- bunch of different divs for CSS and flexbox styling -->
                    <div id="left-side">
                        <div id="section-one">
                            <label for="title">Title:</label>
                                <input type="text" id="title" name="title" required>
                            <div style="width: 10%;"></div>
                            <label for="tags" style="margin-left: 20px;">Tags:</label>
                                <input type="text" id="tags" name="tags" required>
                        </div>
                        <div id="section-two">
                            <label style="margin-bottom: 5px;" for="ingredients">Ingredients:</label>
                                <textarea style="height: 18vh;" name="ingredients" type="text" id="ingredients" required></textarea>
                            <div id="upload-form">
                                <label id="upload" style="margin-top: 20px;" for="upload">Upload Image:</label>
                                <input type="file" id="upload" name="upload" style="width: 60%; margin-top: 17px; margin-left: 10px;" accept="image">
                            </div>
                            <div id="cooktime-div">
                                <label style="margin-top: 20px;" for="duration">Cooking Time:</label>
                                    <select name="duration" id="duration" style="margin-top: 18px; margin-left: 10px; height: 40px; width: 51%;">
                                        <option value=''>Select a time</option>
                                        <option value='10'>10 minutes</option>
                                        <option value='20'>20 minutes</option>
                                        <option value='30'>30 minutes</option>
                                        <option value='45'>45 minutes</option>
                                        <option value='60'>1 hour</option>
                                        <option value='120'>2 hours</option>
                                        <option value='240'>4+ hours</option>
                                    </select>
                            </div>
                            <div id="difficulty-div" style="margin-top: 20px">
                                <label for="difficulty">Difficulty Level:</label>
                                    <select name="difficulty" id="difficulty" style="margin-left: 10px; height: 40px; width: 51%;">
                                        <option value=''>Select a rating</option>
                                        <option value='1'>&#11088</option>
                                        <option value='2'>&#11088&#11088</option>
                                        <option value='3'>&#11088&#11088&#11088</option>
                                        <option value='4'>&#11088&#11088&#11088&#11088</option>
                                        <option value='5'>&#11088&#11088&#11088&#11088&#11088</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <!-- more flexbox divs, ignore -->
                    <div id="right-side">
                        <label style="margin-bottom: 5px;" for="instructions">Instructions:</label>
                            <textarea style="height: 45vh;" name="instructions" type="text" id="instructions" required></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>